.main {
  box-shadow: inset 2px 2px 21px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/hamburg3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  min-width: 200px;
  padding: 80px 40px 40px 40px;
  margin-top: 10vh;
  margin-bottom: 20vh;
  color: white;
  -webkit-box-shadow: 8px 8px 0px 2px #000000;
  box-shadow: 8px 8px 0px 2px #000000;
  border: 2px solid #555555;
  border-style: groove;
}

.mern {
  background-image: url("../../assets/images/mern.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 80px;
  height: 300px;
  width: 300px;
}
